th {
    /*border-style: none;*/
    font-weight: normal;
    background-color: #d21033;
    /*#DDD;*/
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 2%;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    text-align: center;
}

* {
    font-family: inherit;
    font-weight: 300;
    line-height: 1;
}

input {
    border-color: #d21033;
    border-width: 2px;
    height: 2rem;
    width: fit-content;
    background-color: beige;
}


body {
    background-color: rgba(128, 128, 128, 0.119);
}

form {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    text-align: left;
    border-style: black;
    border-radius: 1%;
}

header {
    background-color: #d21033;
    padding-bottom: 7.65rem;

}

.user-information {
    padding-top: .1%;
    margin-left: 2%;
}

.user-information .input-container {
    /* text-align: center; */
    display: inline-block;
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 2%;
}

.user-information .input-container label {
    display: block;
    margin-bottom: 1%;
    /* the spacing between the title of the input and the input form */
}

.user-information .input-container input {
    display: block;
    margin: 0 auto;
    /* Center the input horizontally */
}

.user-information .drop-container {
    display: inline-block;
    margin-left: 6.2%;
    margin-right: 10%;
    margin-bottom: 2%;
}

.user-information .drop-container label {
    display: block;
    margin-bottom: 1%;
    margin-left: 9%;
}

.user-information .drop-container select {
    margin-left: 9%;
    border-color: #d21033;
    border-width: 2px;
    height: 2rem;
    width: fit-content;
    background-color: beige;
}

.supervisor-information {
    margin-left: 2%;
}

.supervisor-information .input-container {
    display: inline-block;
    margin-left: 15%;
    margin-right: 10%;
    margin-bottom: 2%;
}

.supervisor-information .input-container label {
    display: block;
    margin-bottom: 1%;
}


.request-information {
    margin-left: 2%;
    margin-top: 2%;
}

.request-information .request-container {
    display: inline-block;
    margin-left: 5%;
    margin-right: 4%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.request-information .request-container label {
    margin-top: 10%;
}

.request-information .request-container input[type="radio"] {
    float: left;
    width: 20px;
    margin-top: -4%;
}

.employee-information {
    margin-left: 2%;
    margin-top: 2%;
}

.employee-information .employee-container {
    display: inline-block;
    margin-left: 15%;
    margin-right: 5%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.employee-information .employee-container label {
    margin-top: 10%;

}

.employee-information .employee-container input[type="radio"] {
    float: left;
    width: 20px;
    margin-top: -5%;
}

.access-information {
    margin-left: 2%;
}

.access-information .input-container {
    display: inline-block;
    margin-left: 15%;
    margin-right: 10%;
    margin-bottom: 2%;
}

.access-information .input-container label {
    display: block;
    margin-bottom: 1%;
}

.approval-information {
    padding-top: .1%;
    margin-left: 2%;
}

.approval-information .input-container {
    display: inline-block;
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 2%;
}

.approval-information .input-container label {
    display: block;
    margin-bottom: 1%;
}

.approval-information .input-container input {
    display: block;
    margin: 0 auto;
}

.dean-approval-information {
    padding-top: .1%;
    margin-left: 2%;
}

.dean-approval-information .input-container {
    display: inline-block;
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 2%;
}

.dean-approval-information .input-container label {
    display: block;
    margin-bottom: 1%;
}

.dean-approval-information .input-container input {
    display: block;
    margin: 0 auto;
}

.navbar img {
    position: absolute;
}

.image1 {
    margin-top: 1rem;
    margin-left: 1rem;
    z-index: 2;
}

.image2 {
    z-index: 1;
}

.form-container h1 {
    padding-top: 1%;
    padding-left: 1%;
}



@media screen and (min-aspect-ratio: 3.7) {

    /*  1920 x 1080 or larger screens go here */
    .table-information {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .table-body {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
}

@media screen and (max-aspect-ratio: 3.7) {

    /*screens smaller than 1920 x 1080 go here */
    form {
     margin-left: 7%;
        margin-right: 7%;
        margin-top: 3%;
        background-color: rgb(255, 255, 255);
        justify-content: center;
        align-items: center;
        text-align: left;
        border-style: black;
        border-radius: 1%;   
    }

    .table-body {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .user-information .input-container {
        /* text-align: center; */
        display: inline-block;
        margin-left: 7%;
        margin-right: 9%;
        margin-bottom: 2%;
    }
    .user-information .drop-container {
        display: inline-block;
        margin-left: 8%;
        margin-right: 10%;
        margin-bottom: 2%;
    }
    .supervisor-information .input-container {
        display: inline-block;
        margin-left: 18%;
        margin-bottom: 2%;
    }   
    .access-information .input-container {
        display: inline-block;
        margin-left: 18%;
        margin-bottom: 2%;
    }
    .approval-information .input-container {
        display: inline-block;
        margin-left: 7%;
        margin-right: 9%;
        margin-bottom: 2%;
    }
    .dean-approval-information .input-container {
        display: inline-block;
        margin-left: 7%;
        margin-right: 9%;
        margin-bottom: 2%;
    }
    .submit-button{
        margin-left: 45%;
    }

}
.submit-button{
    margin-left: 45%;
}

.table-information .table-header {
    margin: auto;
}

.table-information .table-header th {
    padding-left: 50px;
    padding-right: 50px;
}
